# Dart and Flutter specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
pubspec.lock

# Android specific
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# iOS specific
ios/Flutter/Flutter.framework/
ios/Flutter/App.framework/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
ios/Flutter/.symlinks/

# macOS specific
macos/Flutter/ephemeral/
macos/build/

# Web specific
web/.dart_tool/
web/.flutter-plugins

# Windows specific
windows/flutter/ephemeral/
windows/build/

# Linux specific
linux/flutter/ephemeral/
linux/build/

# Miscellaneous
*.iml
*.hprof
*.log
.idea/
.vscode/
*.swp
*.lock
*.tmp
*.DS_Store
*.log.*
*.bak
*.orig

# Coverage reports
coverage/

# IntelliJ project-specific
*.ipr
*.iws
*.idea/

# Temporary files
*.tmp
*.bak
*.swp
